
<footer class="bg-[#010030] shadow sticky top-[100vh] mt-32">
    <div class="w-full p-12 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="../../../assets/img/Logo Projeto Final.png" class="h-[70px] w-[55px]">
                <div class="flex flex-col -space-y-2">
                    <h1 class="font-russo text-white text-xl text-center transition-all duration-200 hover:cursor-pointer hover:scale-105">CEP Request</h1>
                    <h3 class="text-gray-300 font-light text-sm text-center"> and User Register</h3>
                </div>
            </a>
            <ul class="flex flex-wrap space-x-12 items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li class="flex flex-row box-border space-x-2 justify-center items-center group">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22" height="22" viewBox="0,0,256,256">
                        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M41,4h-32c-2.76,0 -5,2.24 -5,5v32c0,2.76 2.24,5 5,5h32c2.76,0 5,-2.24 5,-5v-32c0,-2.76 -2.24,-5 -5,-5zM17,20v19h-6v-19zM11,14.47c0,-1.4 1.2,-2.47 3,-2.47c1.8,0 2.93,1.07 3,2.47c0,1.4 -1.12,2.53 -3,2.53c-1.8,0 -3,-1.13 -3,-2.53zM39,39h-6c0,0 0,-9.26 0,-10c0,-2 -1,-4 -3.5,-4.04h-0.08c-2.42,0 -3.42,2.06 -3.42,4.04c0,0.91 0,10 0,10h-6v-19h6v2.56c0,0 1.93,-2.56 5.81,-2.56c3.97,0 7.19,2.73 7.19,8.26z"></path></g></g>
                    </svg>
                    <div class="flex flex-col space-y-1 items-center">
                        <a href="./convenios.html" class="w-full h-full pt-2 text-gray-300 font-semibold text-sm rounded group-hover:text-white flex items-center transition-all duration-150 ease-in-out" aria-current="page">Linkedin</a>
                        <span class="relative ease bottom-1 transform translate-x-2/2 h-0 w-0 border-b-2 border-white transition-all duration-300 group-hover:w-full"></span>
                    </div>
                </li>
                <li class="flex flex-row box-border space-x-2 justify-center items-center group">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M12.006 2a9.847 9.847 0 0 0-6.484 2.44 10.32 10.32 0 0 0-3.393 6.17 10.48 10.48 0 0 0 1.317 6.955 10.045 10.045 0 0 0 5.4 4.418c.504.095.683-.223.683-.494 0-.245-.01-1.052-.014-1.908-2.78.62-3.366-1.21-3.366-1.21a2.711 2.711 0 0 0-1.11-1.5c-.907-.637.07-.621.07-.621.317.044.62.163.885.346.266.183.487.426.647.71.135.253.318.476.538.655a2.079 2.079 0 0 0 2.37.196c.045-.52.27-1.006.635-1.37-2.219-.259-4.554-1.138-4.554-5.07a4.022 4.022 0 0 1 1.031-2.75 3.77 3.77 0 0 1 .096-2.713s.839-.275 2.749 1.05a9.26 9.26 0 0 1 5.004 0c1.906-1.325 2.74-1.05 2.74-1.05.37.858.406 1.828.101 2.713a4.017 4.017 0 0 1 1.029 2.75c0 3.939-2.339 4.805-4.564 5.058a2.471 2.471 0 0 1 .679 1.897c0 1.372-.012 2.477-.012 2.814 0 .272.18.592.687.492a10.05 10.05 0 0 0 5.388-4.421 10.473 10.473 0 0 0 1.313-6.948 10.32 10.32 0 0 0-3.39-6.165A9.847 9.847 0 0 0 12.007 2Z" clip-rule="evenodd"/>
                    </svg>
                    <div class="flex flex-col space-y-1 items-center">
                        <a href="./convenios.html" class="w-full h-full pt-2 text-gray-300 font-semibold text-sm rounded group-hover:text-white flex items-center transition-all duration-150 ease-in-out" aria-current="page">Github</a>
                        <span class="relative ease bottom-1 transform translate-x-2/2 h-0 w-0 border-b-2 border-white transition-all duration-300 group-hover:w-full"></span>
                    </div>
                </li>
                <li class="flex flex-row box-border space-x-2 justify-center items-center group">
                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7ZM8 16a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1Zm1-5a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2H9Z" clip-rule="evenodd"/>
                    </svg>                     
                    <div class="flex flex-col space-y-1 items-center">
                        <a href="./convenios.html" class="w-full h-full pt-2 text-gray-300 font-semibold text-sm rounded group-hover:text-white flex items-center transition-all duration-150 ease-in-out" aria-current="page">Currículo</a>
                        <span class="relative ease bottom-1 transform translate-x-2/2 h-0 w-0 border-b-2 border-white transition-all duration-300 group-hover:w-full"></span>
                    </div>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Rian Fonseca. All Rights Reserved.</span>
    </div>
</footer>


