<div class="relative !border-0">
  <input [formControl]="control" [id]="controlName" [placeholder]="placeholder" [type]="type" autocomplete="off"
    [attr.maxlength]="maxlength"
    class="h-12 w-full p-3 border-[1px] border-slate-300 text-sm text-slate-600 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none block disabled:bg-gray-200 disabled:text-slate-600 disabled:border-slate-300" />

  <small *ngIf="getFieldError()" class="text-red-500 text-xs">
    {{ getFieldError() }}
  </small>
</div>